.box {
  padding: 50px;
}

.title {
  background-color: #efedf2;
  padding: 4%;
}

#title-box{
  background-color: #efedf2;
  border-bottom: 1px solid #ccc;
  padding: 2%;
}

img {
  width: 85%;
  text-align: center;
  padding: 3px;
  margin: auto;
  margin-top: 25px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.prod-info {
  border: 1px solid #ccc;
}

#prod-details {
  padding: 7%;
}

p {
  margin: 5px;
  font-size: 15px;
}

label {
  font-size: medium;
  color: #000000;
}


input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=month] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=month]:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
  border: 2px solid rgb(32, 209, 240);
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid rgb(44, 75, 250);
  background-color:rgb(44, 75, 250);
  z-index: 0;
}


select {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-confirm {
  margin-top: 3%;
  padding: 3%;
  background-color: rgb(44, 75, 250);
  color: white;
  border-radius: 10px;
  border: none;
}